.jobs-container {
  min-height: 100vh;
  background-color: #121212;
  color: white;
}
.jobs-content {
  display: flex;
  gap: 30px;
  padding: 30px 40px;
}
.sidepane {
  width: 250px;
}
.profile {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  padding: 20px 15px;
}
.profile > img {
  height: 50px;
}
.profile > h1 {
  margin-top: 0;
  color: #6366f1;
  font-size: 20px;
}
.profile > p {
  font-size: 15px;
  color: #2c364c;
}
hr {
  margin-top: 20px;
  width: 100%;
}
.filter {
  display: flex;
  gap: 10px;
  padding: 5px 0;
  color: white;
}
.searchBox {
  border: 1px solid white;
  width: fit-content;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.searchBox > input {
  background-color: transparent;
  border: 0;
  color: white;
  padding: 5px 10px;
  outline: none;
}
.searchBox > label {
  padding: 5px 15px;
  background-color: #202020;
  color: white;
  border-radius: 0 5px 5px 0;
}
.searchBox > label > button {
  padding: 0;
  background-color: #202020;
  color: white;
  border: 0;
}
.jobs {
  list-style: none;
  padding: 0;
}
.searchBox-mobile {
  display: none;
}
.noJobs {
  margin: 40px;
  text-align: center;
}
.noJobs > img {
  max-height: min(250px, 80vw);
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .jobs-content {
    padding: 20px;
    flex-direction: column;
  }
  .sidepane {
    width: 100%;
  }
  .profile {
    width: 100%;
    border-radius: 25px 25px 15px 15px;
  }
  .searchBox {
    display: none;
  }
  .searchBox-mobile {
    min-width: 100%;
    border: 1px solid white;
    width: fit-content;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  .searchBox-mobile > input {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: white;
    padding: 5px 10px;
    outline: none;
  }
  .searchBox-mobile > div {
    padding: 5px 15px;
    background-color: #202020;
    color: white;
    border-radius: 0 5px 5px 0;
  }
}
.screen-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.flex-grow-1 {
  flex-grow: 1;
}
.filter-heading {
  font-size: 16px;
}
ul {
  list-style: none;
  padding: 0;
}
